body {
    background: #f9e933;
    font-family: 'Droid Sans', sans-serif;
}

header,  main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: FFE183;
    overflow: auto;
    min-height: 100px;
}

/* header h1{

} */

header nav{
    width: 285px;
    float: right;
    color: #AC8301;
    padding-top: 10px;
}

main {
    background: white;
    overflow: hidden;
}

main .left{
     width: 525px;
     float: left;
}

main .right{
    width: 285px;
    float: right;
}

footer {
    overflow: auto;
    padding-top:25px;
    padding-bottom:25px;
}

footer .left{
     width: 570px;
     float: left; 
}

footer .sightmap{
    width: 285px;
    float: right;  
}

footer .smleft {
    float:left;
}

footer .smright {
    float:right;
}

h1
{
    width: 570px;
    float: left;
    padding-top:25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #AC8301;
    font-style: italic;
}

h2
{
    font-size: 32px;
    border:25px;
    padding-top:25px;
}

h3
{
    font-size: 24px;
    border:14px;
    padding-top:25px;
}


p, ul{
    padding-top:10px;
}

h5
{
    font-size: 24px;
    border:14px;
    
}

i{
    font-style: italic;
    color: #AC8301;
}

nav
{
    border: 10px
}
