body {
    background: #f9e933;
    font-family: 'Droid Sans', sans-serif;
}

header,  main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: FFE183;
    overflow: auto;
    min-height: 100px;
}

header h1{
     width: 570px;
     float: left;
     padding-top:25px;
}

header nav{
    width: 285px;
    float: right;
    color: #AC8301;
}

main {
    background: white;
    overflow: auto;
}

main .left{
     width: 570px;
     float: left;
}

main .right{
    width: 285px;
    float: right;
}

footer {
    overflow: auto;
}

footer .left{
     width: 570px;
     float: left; 
}

footer .sightmap{
    width: 285px;
    float: right;  
}

h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #AC8301;
    font-style: italic;
}

h2
{
    font-size: 32px;
    border:25px;
         padding-top:25px;
}

h3
{
    font-size: 24px;
    border:14px;
    padding-top:25px;
}

h3
{
    font-size: 24px;
    border:14px;
    padding-top:25px;
}
p{
    padding-top:10px;
}

h5
{
    font-size: 24px;
    border:14px;
}
